* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

body {
    display: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url('https://j.gifs.com/NLkOgv@facebook.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.learn-more {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.learn-more:hover {
    background-color:#0056b3;
}

.slide-container {
    display: block;
    align-items: center;
    position: relative;
}

.firstslider {
    position: relative;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

#slider {
    width: 100%;
    height: auto;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    border: none;
    font-size: 4rem;
    cursor: pointer;
    color: #bf1717;
    z-index: 10;
}

#prev {
    left: 100px;
}

#next {
    right: 100px;
}

.user-testimonial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.testimonial-container {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.testimonial-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-text {
    margin-bottom: 20px;
}
 
.testimonial-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}
 
.testimonial-role {
    font-size: 16px;
    color: #000000;
}

li {
    list-style: none;
}

a,
a:visited { 
    color: rgb(177, 25, 25);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: rgb(0, 0, 0);
}

nav {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid brown;

}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#icons {
    cursor: pointer;
    display: none;
}

.boutique-container {
    background-color: white;
    backdrop-filter: blur(10px);
    width: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

.boutique-header {
  color: white;
  text-align: center;
  padding: 100px 0;
}

.cards-container > .product-card {
    display: none;
}

.cards-container > .product-card.active {
    display: block;
}

.cards-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10%;
  }

.cards-container h3 {
    color: black;
    font-size: 1rem;
}
  
  .product-card {
    width: 45%; 
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }

  .product-card a {
    color: white;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-text {
    padding: 15px;
    text-align: center;
    background-color: white;
  }
  
  .buy-button {
    display: inline-block;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }

  .boutique-button {
    display: inline-block;
    background-color: #007bff;
    padding: 8px 14px;
    text-decoration: none;
    margin-top: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    color: white;
    border: none;
  }

  .boutique-button:hover {
    background-color: #0056b3;
  }

  .search-control {
    margin-top: 1em;
    border-radius: 40px;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/************************* FOOTER *************************/
footer {
    display: flex;
    background-color: rgb(255, 255, 255);
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 8%;
    width: 100%;
    border-top: 2px solid brown
}

/*****************************PAGE CONTACT*****************************/

section#contact {
    background-color: transparent;
    padding: 100px 0;
}

section#contact .contact-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 10px;
    border-radius: 10px;
}

section#contact .contact-container .title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2px;
}

h5 {
    font-size: 1.2em;
    color: brown;
}

h3 {
    font-size: 3em;
    color: brown;
}

section#contact .contact-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section#contact .contact-container input {
    width: 40%;
}

section#contact .contact-container input:hover,
section#contact .contact-container textarea:hover {
    border-bottom: 3px solid brown;
}

section#contact .contact-container input,
section#contact .contact-container textarea {
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    transition: 0.2s;
}

section#contact .contact-container textarea {
    width: 100%;
    resize: none;
    height: 180px;
    margin-bottom: 20px;

}

.contact-button {
    width: 190px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    margin: 0 auto;
}

.contact-button:hover {
    background-color:#0056b3;
}


/**********************ABOUT*****************/

 
 .about-container{
     background-color:white;
     margin-top: 10%;
     margin-left: 10%;
     margin-right: 10%;
     text-align: left;
     border-radius: 20px;
 }
 .about-container h4 {
     text-align: center;
     margin-bottom: 3%;
     padding-top: 20px;
     font-size: 4rem;
 }
 
 .about-container p {
     text-align: center;
     font-size: 2rem;
     margin-left: 3%;
     margin-right: 3%;
     padding-bottom: 20px;
 }
 
 iframe {
     margin-top: 10%;
     margin-bottom: 10%;
 }

/************************Media Query *****************************/

@media (max-width: 650px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
    .product-card {
        width: 100%;
      }

    #icons {
        display: block;
    }

    #icons:before {
        content: "\2630";
        color: brown;
        font-weight: bolder;
    }

    .active #icons:before {
        content: "\2716";
    }

    nav ul {
        position: relative;
        left: -100%;
        top: 10%;
        flex-direction: column;
        background: transparent;
        width: 100%;
        text-align: center;
        transition: 0.30s;
    }

    nav li {
        padding: 3px 0;
    }

    nav li:hover {
        background: black;
    }

    nav.active ul {
        left: 0;
    }

    section#contact .container form {
        flex-direction: column;
        width: 95%;
    }

    section#contact .container form input {
        width: 100%;
    }

    h5 {
        font-size: 1em;
    }

    h3 {
        font-size: 2em;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 28px;
        background-color: #bf1717;
        color: white;
        border: none;
        border-radius: 0.3rem;
        height: 60px;
    
    }

    footer {
        width: 100%;
    }
}